{% extends 'base.html' %}


{% block content %}

    <section class="img_section">
    <section class="container_section">
    <h2>Cześć jestem Maks</h2>
    <p class="about_me">
       Bardzo się cieszę, że tu jesteś. Ten blog poświęcony
        jest dwóm moim wielkim pasjom: fotografii i programowaniu. Mam nadzieję, że znajdziesz tu wiele interesujących
        informacji, porad oraz inspiracji z tych dziedzin. Fotografia to dla mnie sposób na uchwycenie piękna
        otaczającego świata i dzielenie się nim z innymi. Programowanie z kolei daje mi nieograniczone możliwości
        tworzenia i rozwijania nowych narzędzi, które ułatwiają życie i pracę.
        Mam nadzieję, że będziesz tu zaglądać regularnie i czerpać z tego, co mam do zaoferowania. W razie pytań,
        sugestii czy po prostu chęci porozmawiania, zachęcam do zostawienia komentarza pod postami lub kontaktu
        ze mną bezpośrednio.

        Pozdrawiam serdecznie i życzę miłego czytania!
    </p>
    <a class="logo_insta" href="https://www.instagram.com/stolar.pro/"><img src="../static/jpg/insta_kolory.png"></a>
    <a class="logo_insta" href="https://www.linkedin.com/in/maksymilian-stolarek/"><img src="../static/jpg/logo_linkedin2.png"></a>
    <a class="logo_insta" href="https://www.facebook.com/maksiu.stolarek/"><img src="../static/jpg/facebook_kolory.png"></a>
    </section>
    </section>

    <section>

    <div class="box_section">
        {% for article in articles %}
            <div class="box">
               <h3 class="title">{{ article.title }}</h3>
               <p class="content">{{ article.contents }}</p>
               <p class="date">{{ article.date }}</p>
            </div>

         {% endfor %}
    </div>
    </section>

{% endblock %}

