{% extends 'base_with_about_me.html' %}


{% block content %}

    <section>

    <div class="box_section">
        {% for article in articles %}
            <div class="box">
                <a href="{% url 'article_view' article.ID%}"><img src="{{ article.jpg }}" class="baner"></a>
               <a href="{% url 'article_view' article.ID %}"><h2 class="title">{{ article.title }}</h2></a>
              <p class="date">{{ article.date }}</p>
            </div>

         {% endfor %}
    </div>
    </section>

{% endblock %}

